_darcs
dist
experiments
examples/session
examples/mnist.txt
examples/candidates
material
doc.sh

*.o
*.hi
*.chi
*.chs.h

push.sh
index.html
title.md

/base-reinstall.sh
.cabal-sandbox
cabal.sandbox.config

# The Haskell Tool Stack-related
.stack-work
